@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border p-0 m-0;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-sans text-base text-gray-700 bg-gray-50;
    @apply dark:text-gray-300 dark:bg-gray-900;
    font-family: "Poppins", sans-serif;
  }

  h1,
  h2,
  h3 {
    @apply text-gray-900 font-semibold;
    @apply dark:text-gray-100;
  }

  ul {
    @apply list-none;
  }

  a {
    @apply no-underline;
  }

  img {
    @apply max-w-full h-auto;
  }
}
