# Production environment settings
baseURL = 'https://avinashrijal.com.np/'

# Minify HTML output
[minify]
  minifyOutput = true

  [minify.tdewolff.html]
    keepDocumentTags = true
    keepEndTags = true
    keepQuotes = false
    keepWhitespace = false

  [minify.tdewolff.css]
    keepCSS2 = true
    precision = 0

  [minify.tdewolff.js]
    keepVarNames = false
    precision = 0

  [minify.tdewolff.json]
    precision = 0

  [minify.tdewolff.svg]
    precision = 0

  [minify.tdewolff.xml]
    keepWhitespace = false
